In [1]:
#sets takes unique value

In [2]:
myset = set()

In [4]:
type(myset)

set

In [5]:
myset.add(1)

In [6]:
myset

{1}

In [8]:
myset.add(3)

In [9]:
myset  #look like dictionary but not

{1, 3}

In [10]:
myset.add(3)

In [12]:
myset   # see it take only one value uniquely

{1, 3}

In [13]:
# we can add a list into set

In [14]:
mylist = [1,2,3,4,5,6,1,2,3,4,5,6]

In [15]:
set(mylist)

{1, 2, 3, 4, 5, 6}

In [16]:
mystring='Mississippi'

In [17]:
set(mystring)

{'M', 'i', 'p', 's'}